// Media query breakpoints
// $mqb-max-mobile:            560px;
// $mqb-min-twocol:            670px;
// $mqb-min-threecol:          940px;
// $mqb-min-fourcol:           1200px;
// $mqb-min-fivecol:           1400px;
// $mqb-max:                   1920px;
// $metric-max-logo:           200px;
// $metric-max-paragraph:      500px;

// UI font lists
$fontfam-headers: 'Bebas Neue', 'Arial Black', Verdana, Helvetica, sans-serif;
$fontfam-body: Poppins, Garamond, Perpetua, Georgia, serif;
$fontfam-code: 'Spline Sans Mono', 'Lucida Sans Typewriter', 'Courier New', monospace;