// Media query breakpoints
// $mqb-max-mobile:            560px;
// $mqb-min-twocol:            670px;
// $mqb-min-threecol:          940px;
// $mqb-min-fourcol:           1200px;
// $mqb-min-fivecol:           1400px;
// $mqb-max:                   1920px;
// $metric-max-logo:           200px;
// $metric-max-paragraph:      500px;


// Basic UI colors (Light theme)
$lgt-text:          #8c0000;
$lgt-background:    #fffbf9;
$lgt-accent:        #d62234;
$lgt-accent-shade:  #d75f5a;
$lgt-ui-frames:     #4AB7B9;
$lgt-ui-borders:    #45555b;

// Basic UI colors (Dark theme)
$drk-text:          #ffffff;
$drk-background:    #230000;
// $drk-accent:        #;
// $drk-accent-shade:  #;
// $drk-ui-frames:     #;
// $drk-ui-borders:    #;

// UI light & shadow
// $clr-shadow:                #000000DB;
// $clr-lightMetal:            #d9eaff;
// $clr-darkMetal:             #9ba7b6;

// UI font lists
$fontfam-headers: 'Bebas Neue', 'Arial Black', Verdana, Helvetica, sans-serif;
$fontfam-body: Poppins, Garamond, Perpetua, Georgia, serif;
$fontfam-code: 'Spline Sans Mono', 'Lucida Sans Typewriter', 'Courier New', monospace;

// Social Media colors
$clr-GitHub:            rgb(64, 120, 192);
$clr-lightGitHub:       rgba(64, 120, 192, 0.2);
$clr-LinkedIn:          rgb(7, 98, 200);
$clr-lightLinkedIn:     rgba(7, 98, 200, 0.2);
$clr-TwitterX:          rgb(29 161 242);
$clr-lightTwitterX:     rgba(29, 161, 242, 0.2);
$clr-Pinterest:         rgb(230, 0, 35);
$clr-lightPinterest:    rgba(230, 0, 35, 0.2);
$clr-Portfolio:         rgb(0, 152, 0);
$clr-lightPortfolio:    rgba(0, 152, 0, 0.2);